h1 {
  font-family: "Merriweather Sans";
  color: #541f3fff;
  text-align: center;
}

body {
  font-family: Finlandica, sans-serif;
  color: #813753ff;
}

.maindiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profileimg {
  top: 10px;
  width: auto;
  height: 240px;
}
.text {
  margin-left: 75px;
  margin-right: 75px;
  font-size: large;
}
